name: publish

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  publish:
    runs-on: windows-latest
    if: "!contains(github.event.head_commit.message, '[ci skip]')"
    steps:
    - name: Check out code
      uses: actions/checkout@v2

    - name: Choco package
      uses: crazy-max/ghaction-chocolatey@v1
      with:
        args: pack

    - name: Choco package
      uses: crazy-max/ghaction-chocolatey@v1
      with:
        args: push --api-key ${CHOCO_API_TOKEN}
      env:
        CHOCO_API_TOKEN: ${{ secrets.CHOCO_API_TOKEN }}
