name: publish

on:
  push:
    branches:
      - main

jobs:
  publish:
    runs-on: windows-latest
    if: "!contains(github.event.head_commit.message, '[ci skip]')"
    steps:
    - name: Check out code
      uses: actions/checkout@v6

    - name: Choco package
      uses: crazy-max/ghaction-chocolatey@v3
      with:
        args: pack

    - name: Choco push
      uses: crazy-max/ghaction-chocolatey@v3
      with:
        args: push --api-key ${{ env.CHOCO_API_TOKEN }} --source="'https://push.chocolatey.org/'"
      env:
        CHOCO_API_TOKEN: ${{ secrets.CHOCO_API_TOKEN }}
